.container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 100px 0 1px 0;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.photo {
  border-radius: 18px;
  padding: 20px;
  margin-right: 100px;
  position: relative;

}

.photo img {
  border-radius: 1%;
  object-fit: cover;
  object-position: 0% 430%;
}

.bunny:hover {
  animation: fadeInAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
  cursor: default;
}

.bunny p {
  transition-duration: 10s;
  transition-timing-function: linear;
}

.bunny {
  position: absolute;
  top: 49%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: white;
  opacity: 0;
  padding: 45px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  width: 50%;
  color: black;
  /* border-radius: 5px; */
  padding: 5px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
  text-align: center;
}
