.container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 100px 0 130px 0;
}

.photo {
}

.text {
  color: white;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}
