.images {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 20px;
  -webkit-font-smoothing: antialiased;
}

.images:hover {
  transition: 0.5s ease;
  /* opacity: 0.5; */
}

.images:hover .middle {
  transition: 0.5s ease;
  opacity: 1;
  border: 1px solid black;
}

.middle {
  /* transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: blue;
  flex-wrap: nowrap; */
}
.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
  /* color: #fff; */
}

.text {
  /* background-color: #04aa6d; */
  color: #1b242f;
  font-size: 24px;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  opacity: 1;
  /* font-family: "Raleway-bold" */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.subtext {
  color: #1b242f;
  font-size: 18px;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
}
