.svg {
  background-color: black;
  border: none;
  margin-bottom: -3px;
}

.svg2 {
  background-color: #6495ed;
}

.footer {
  /* color: white; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  /* justify-content: center; */
  /* vertical-align: baseline; */
  position: absolute;
  /* margin: 0; */
  /* background-color: #008b8b; */
  background-color: #6495ed;
  /* background-position: 10% 10%; */
  padding: 9px 0 0px 0;
  margin-top: -3px;
  text-align: center;
  height: 90px;
  /* max-height: 100%; */
  width: 100%;
  -webkit-font-smoothing: antialiased;
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* border-top: 1px solid black; */
  /* border-radius: 10px 10px 10px 10px; */
}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  color: white;
  font-size: 12px;
  color: #696969;
  position: relative;
  top: -28px;
  /* align-self: flex-end; */
  padding-top: 14px;
}

.copyright p {
  display: flex;
  color: inherit;
  /* flex-direction: row; */
  /* align-self: flex-end; */
}

.social {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 36px;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
  color: black;
  padding-top: 0px;
  padding-bottom: 0.5px;
}

.giticon {
  height: 55px;
  margin: 0 7px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* transition in the link or parent of the hover allows the effect to be applied both ways this is how you
   get the effect of 'mouse leave' */
  transition-duration: 0.3s;
  transition-timing-function: linear;
  color: black;
}
.linkedicon {
  height: 55px;
  margin: 0 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  color: black;
}

.giticon:hover {
  cursor: pointer;
  color: #d2691e;
  transform: scale(1.2, 1.2);
  -webkit-font-smoothing: antialiased;
}
.linkedicon:hover {
  cursor: pointer;
  color: #d2691e;
  transform: scale(1.2, 1.2);
  -webkit-font-smoothing: antialiased;
}

.top {
  display: flex;
  align-self: flex-end;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  position: relative;
  /* z-index: 99; */
  /* float: right; */
  cursor: pointer;
  right: 300px;
  vertical-align: middle;
  top: -80px;
  font-size: 20px;
  background-color: inherit;
  border: 1px solid black;
  /* height: 30px; */
  /* width: 30px; */
  border-radius: 50%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.top:hover {
  cursor: pointer;
  color: yellow;
  background-color: black;
  transform: scale(1.2, 1.2);
  -webkit-font-smoothing: antialiased;
}
