.footer {
  color: white;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin-bottom: 10px; */
  background-color: #000d1a;
  padding: 30px 0 30px 0;
  text-align: center;
  /* height: 120px; */
  /* width: auto; */
}

.copyright {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  color: white;
  font-size: 12px;
  color: #696969;
}

.copyright p {
  display: flex;
  color: inherit;
  flex-direction: row;
}

.social {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}

.giticon {
  height: 55px;
  margin: 0 7px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.3s; //transition in the link or parent of the hover allows the effect to be applied both ways
  transition-timing-function: linear; // this is how you get the effect of 'mouse leave'
}
.linkedicon {
  height: 55px;
  margin: 0 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.giticon:hover {
  cursor: pointer;
  color: #8b0000;
  transform: scale(1.2, 1.2);
}
.linkedicon:hover {
  cursor: pointer;
  color: #8b0000;
  transform: scale(1.2, 1.2);
}
