.button {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  max-height: 80px;
  right: 0px;
}

.svg {
  transition: all 400ms;
  viewbox: 0 0 100 100;
  fill: none;
  stroke: currentColor;
  strokewidth: 5;
  
}

.top {
  stroke-dasharray: 40 160;
  transition: stroke-dashoffset 400ms;
}

.middle {
  transform-origin: 50%;
  transition: transform 400ms;
}

.bottom {
  stroke-dasharray: 40 85;
  transition: stroke-dashoffset 400ms;
}

.open {
  transform: rotate(45deg);
}

.open .top,
.open .bottom {
  stroke-dashoffset: -64px;
}

.open .middle {
  transform: rotate(90deg);
}
