.projectlist {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  /* border-radius: 50px; */
  /* background-position: -10% 90%; */
  /* background-repeat: space; */
  /* background-size: contain; */
  /* background-clip: border-box; */
  /* background-attachment: local; */
  background-image: linear-gradient(45deg, rgba(255, 246, 228, 0.5) 30%, rgba(128, 189, 182, 0.8) 100%),
    linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}
