.container {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  column-gap: 20px;
  -webkit-font-smoothing: antialiased;
}

.text {
  color: white;
}
